.App {
  text-align: center;
}

.app-title {
  font-size: 2.5rem;
  margin: 20px 0;
}

.section-title {
  font-size: 1.5rem;
  margin: 20px 0;
}

.section-title {
  font-family: "Brush Script MT", cursive; /* Yazı tipi */
  font-size: 2rem; /* Büyük yazı boyutu */
  font-style: italic; /* İtalik stil */
  font-weight: bold; /* Kalın yazı stili */
  color: #333; /* Koyu gri renk */
  text-align: center; /* Ortalanmış yazı */
  margin-bottom: 20px; /* Başlığın altına boşluk ekler */
  letter-spacing: 1px; /* Harfler arasına biraz boşluk ekler */
  line-height: 1.4; /* Satır yüksekliğini ayarlar */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Gölge efekti */
}
body {
  font-family: 'Roboto', sans-serif; /* Genel font ayarı */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* Arka plan rengi */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #87CEFA; /* Açık mavi renk */
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hafif gölge */
  z-index: 1000; /* Diğer içeriklerin üstünde görünmesi için */
}

.navbar h1 {
  margin: 0;
  font-size: 2rem; /* Başlık boyutu */
  font-weight: bold; /* Kalın yazı stili */
  text-transform: uppercase; /* Büyük harf kullanımı */
  color: #fff; /* Beyaz renk */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Gölge efekti */
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Sayfanın tam yüksekliği */
  margin-top: 60px; /* Navbar'ın yüksekliği kadar boşluk */
}

.app-title {
  display: flex;
  font-size: 4rem; /* Başlık boyutu */
  font-weight: bold; /* Kalın yazı stili */
  text-transform: uppercase; /* Büyük harf kullanımı */
}

.app-title span {
  display: inline-block;
  margin: 0 4px; /* Harfler arasında boşluk */
}


